@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
::-webkit-scrollbar{width:8px}::-webkit-scrollbar-track{background:#0e0e0e}::-webkit-scrollbar-thumb{background:#888;border-radius:8px}::-webkit-scrollbar-thumb:hover{background:#555}
::-moz-selection{color:#fff;background:#f44336}::selection{color:#fff;background:#f44336}

html,body{
	height:100%;
	margin:0
}
body{
	font-family: 'Josefin Sans', sans-serif;
	background:#0a0a0a;
	color:#fff
}

/* PER EACH PAGE */
#top-side{
	z-index:99;
	box-shadow:0 0 24px 8px #000;
	text-align:center;
	height:100%;
	background:#111
}
.dont-touch{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer
}
.my-logo{
	margin:8px 0 8px 0;
	font-family:'Anton', sans-serif;
	text-shadow:4px 4px 0 #000;
	color:#ffd908
}
.back-off{
	font-size:24px;
	font-weight:bold;
	cursor:pointer
}
.bullshit{
	margin:32px 0
}

/* INNER PAGE's */
.work ul{
	list-style-type:none
}
.work ul li::before{
 	content:'— '
}
.work ul li::after{
 	content:' —'
}
.work hr{
	background-color:#fff;
	margin-top:0;
	opacity:.24
}