::-webkit-scrollbar{width:7.5px}::-webkit-scrollbar-track{background:#0e0e0e}::-webkit-scrollbar-thumb{background:#888;border-radius:7.5px}::-webkit-scrollbar-thumb:hover{background:#555}
::-moz-selection{color:#fff;background:#f44336}::selection{color:#fff;background:#f44336}
@font-face{font-family:'robotoregular';src:url('font/Roboto.woff') format('woff');font-weight:normal;font-style:normal}

html,body{
	font-family:"Roboto";
	height:100%;
	margin:0
}
body{
	background:#0a0a0a;
	color:#fff
}

#top-side{
	z-index:99;
	box-shadow:0 0 25px 10px #000;
	text-align:center;
	background:#111
}
.dont-touch{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer
}
.my-logo{
	color:#ffd908
}
.back-off{
	font-size:20px;
	font-weight:bold;
	cursor:pointer
}
.huge-title{
	font-size:2.7em;
	margin:10px 0 25px 0
}

#content-area{
	z-index:98;
	padding:2em 0
}
.aviation-alphabet-bg{
	background:#212529;
	padding:15px 15px .1px 15px;
	text-align:justify
}
.aviation-alphabet-bg table,.aviation-alphabet-bg h3{
	text-align:center
}
.page-title{
	text-align:center
}