::-webkit-scrollbar{width:7.5px}::-webkit-scrollbar-track{background:#0e0e0e}::-webkit-scrollbar-thumb{background:#888;border-radius:7.5px}::-webkit-scrollbar-thumb:hover{background:#555}
::-moz-selection{color:#fff;background:#f44336}::selection{color:#fff;background:#f44336}
@font-face{font-family:'robotoregular';src:url('font/Roboto.woff') format('woff');font-weight:normal;font-style:normal}

html,body{
	font-family:"Roboto";
	height:100%;
	margin:0
}
body{
	background:#222;
	color:#fff
}

#top-side{
	height:100%;
	background-image:url(../uploads/background.jpg);
	background-position:50%;
	background-repeat:no-repeat;
	background-size:cover
}
.dont-touch{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer
}
.my-logo{
	color:#ffd908
}
.back-off{
	font-size:20px;
	font-weight:bold;
	cursor:pointer
}